.search-container {
    
    
    width: 600px;
    
    margin:  0 auto ;
    font-size: 16px;
    align-items: center;
}
button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}
button:hover {
    background-color: #45a049;
}
.topattraction{
    display: flex;
    align-items: center;
    align-content: center;
    text-decoration: double;
    color:rgba(92, 226, 25, 0.941)
}
.searchinput{
    width: 200px;
    height: 32px;
    border-radius: 5px;
    margin-left: 180px;
    font-size: 20px; 
}
.footertext{
    align-items: center;

}
.topplaces{
    display: flex;
    color: rgb(231, 224, 224);
}
body{
    background-image: url(jaipur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
    
    
    





